<IfModule mod_php4.c>
    php_value include_path "//Users/tomwilkins/Documents/websites/ueabc/includes"
    php_value always_populate_raw_post_data 1
    php_value session.use_only_cookies 1
    php_value magic_quotes_gpc 1
    php_value arg_separator.output &amp;
    php_value arg_separator.input &;
</IfModule>

<IfModule mod_php5.c>
    php_value include_path "/Users/tomwilkins/Documents/websites/ueabc/includes"
    php_value always_populate_raw_post_data 1
    php_value session.use_only_cookies 1
    php_value magic_quotes_gpc 1
    php_value arg_separator.output &amp;
    php_value arg_separator.input &;
    php_value SMTP smtp.vendorappraisal.com
    php_value smtp_port 25
</IfModule>
#RewriteBase /
#RewriteEngine On
#RewriteBase /
# RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^(.+)$ /$1.php [L,QSA]
#RewriteRule (.*) /$1.php [L]

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php
# Added automatically by Gridhost panel Wednesday 2nd of October 2013 09:23:43 AM
ErrorDocument 404 /404.php
ErrorDocument 403 /403.php
